body{
    margin:0; padding:0;

}


h1{
    background-color: black;
    color: whitesmoke;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 0.8s ease;
    gap:  2em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 90%;
    margin-bottom: 2%;
    
}
#bank {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid lightgray;
    border-radius: 25px;
    
} 
#work {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid lightgray;
    border-radius: 25px;
}
#laptop {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid lightgray;
    border-radius: 25px;
    
}
article{
    background-color:rgb(249, 249, 249);
}

#pc_info {
    
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    border: 3px solid lightgray;
    border-radius: 25px;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.8s  ease;
}



.balance{
    display: inline-block;
}
.debt-display{
    display: inline-block;
}
#laptop-title{
    display: inline-block;
    width: 90%; 
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.work-button{
    display: inline-block;
    width: 90%; 
    height: 46%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.bank-button{
    display: block;
    width: 90%; 
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    
}
.bank-button:hover{
    background-color: blueviolet;
}

#buy-button{
    width: 90%; 
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;

}

img {
    max-height: 80%;
    max-width: 100%;
    margin:auto;
    border: 2.5px solid lightgray;
    border-radius: 20px;
    /* float: left; */

  }

  .buy-pc{
    position: relative;
    transform: translateY(-10%);
    
    

  }
  .div3{
    display: flex;
    flex-direction: column;
    width: 30%;
    
  }